@charset  "UTF-8";

body {
    padding: 0;
    margin: 0;
    background: #f1f1f1;
}

#logoHolder {
    height: 35%;
    width: 100%;
    background-color: #fff;
}

#logoHolder center img {
    max-width: 100%;
    max-height: 239px;
}

#sparkBtn {
    position: fixed;
    bottom: 13px;
}

#header {
    height: auto;
    width: 100%;
    background-color: #fff;
    display: flex;
    text-align: center;
}

#main_body {
    width: 100%;
    background: #f1f1f1;
    background: -webkit-linear-gradient(#e0e0e0,#f1f1f1);
    background: -o-linear-gradient(#e0e0e0,#f1f1f1);
    /background: -moz-linear-gradient(#e0e0e0,#f1f1f1);
    background: linear-gradient(#e0e0e0,#f1f1f1);
}

#contact {
    padding: 13px;
    font-size: 18px;
}

#header img {
    width: 20%;
    height: 90px;
    margin: 4px;
}

#view_title {
    font-size: 30px;
    font-weight: 700;
    height: auto;
    margin: 26px auto;
}

.btn {
    height: 90px;
    position: fixed;
    bottom: 40px;
}

#user_input {
    width: 80%;
    margin: 0 auto;
    height: 36px;
    padding: 5px;
    border-radius: 5px;
    font-family: comic sans MS;
    font-size: 17px;
    font-weight: 700;
    margin-top: 100px;
    border: 2px solid #c0d83c;
}

#sparkHolder {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 43%;
}

#sparkHolder img:nth-child(1) {
    height: 100%;
    position: absolute;
    width: 0;
    left: 0;
}

#sparkHolder img:nth-child(2) {
    height: 100%;
    position: absolute;
    width: 0;
    right: 0;
}

#randElemHolder {
    background: transparent;
    width: 80%;
    height: 40%;
    margin: auto;
    text-align: center;
    font-size: 2.3em;
}

#version{
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    color: #656565;
}