body{
	padding: 0px;
	margin: 0px;
}
#header{
	height: 15%;
    width: 100%;
    background-color: #fff;
    display: flex;
}

#main_body{
	height: 85%;
	width:100%;
	background-color: darkgray;
}

#header img{
	height: 90%;
    margin: 4px;
}
#header span{
	font-size: 30px;
    font-weight: bold;
    height: auto;
    margin: 26px auto;
    display:none;
}

#splashScreenBtn{
    height: 200;
    width: 200;
    position: fixed;
    bottom: 6px;
    right: 38.8%;
}