@media (min-width: 320px) {
	#sparkBtn{
    	right: 27.8%;
    	height:150px;
    	width: 150px;
	}

	.btn.btn-contact{
		right: 12px;
	}

	.btn.btn-about{
		left:12px;
	}
}
@media (min-width: 425px) {
	#sparkBtn{
    	right: 38.8%;
    	height:150px;
    	width: 150px;
	}
	.btn.btn-contact{
		right: 50px;
	}

	.btn.btn-about{
		left:50px;
	}
}

@media (min-width: 768px) {
	#sparkBtn{
    	right: 36.8%;
    	height:200px;
    	width: 200px;

	}
	.btn{
		height:120px;
	}
	.btn.btn-contact{
		right: 100px;
	}

	.btn.btn-about{
		left:100px;
	}
}

